
body {
    background-color: rgb(139, 102, 102);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font: 20px;
  }
  h1{
    color: chartreuse;
  }
  h2 {
    color: rgb(104, 104, 202);
  }
  p {
      color: rgb(255, 255, 255);
  }
  